svg {
  max-width: 500px;
}
@keyframes rain {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(250%);
  }
}
.rain {
  animation: rain 1s linear infinite;
}

@keyframes spark {
  0% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.spark {
  display: none;
  animation: spark 2s linear infinite;
}
.spark.lightening {
  display: block;
}
.st2 {
  fill: #ffffff;
  stroke: #414042;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#cloud.dark,
#cloud.raining,
#cloud.lightening {
  fill: #333;
}
.rain {
  display: none;
}
.raining {
  display: block;
  opacity: 0;
}
.rain-1 {
  animation-delay: 0.65s;
}
.rain-2 {
  animation-delay: 0.8s;
}
.rain-3 {
  animation-delay: 0.5s;
}
.rain-4 {
  animation-delay: 0.29s;
}
.rain-5 {
  animation-delay: 1.17s;
}
